/*Created by Griffin Burkhardt*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url("pictures/maze-white.png");
    background-attachment: fixed;
    background-repeat: repeat;
}
#content-container {
    border: 12px solid white;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 32px 12px 0px 12px;
    text-align: center;
    min-height: 100%;
    width: 100%;
}
.firstlast-title {
    padding: 8px 0px;
    letter-spacing: 8px;
    font-size: 24px;
    font-weight: 100;
    color: black;
}
b { /*global variable*/
    font-weight: 400;
}
a { /*global variable*/
    text-decoration: none;
}
.divider {
    height: 1px;
    background-color: goldenrod;
    width: 400px;
    margin: 0 auto;
}
.divider-auto {
    height: 1px;
    background-color: gray;
    width: 100%;
    margin: 0 10px;
    margin-bottom: 10px;
}
#top-nav, #bottom-nav {
    text-align: center;
    font-size: 13px;
    font-weight: 100;
}
#top-nav-ul, #bottom-nav-ul {
    padding: 0;
    margin: 10px 0px;
    margin-left: -6px;
    color: black;
}
#top-nav-ul li, #bottom-nav-ul li {
    display: inline-block;
    margin: 0px 12px;
}
#top-nav-ul li a, #bottom-nav-ul li a {
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;
    letter-spacing: 1px;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
}
#top-nav-ul li a:hover, #bottom-nav-ul li a:hover {
    color: goldenrod;
}
.info-card {
    margin: 0;
    padding: 0;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: 0.3s all ease;
}
.info-card:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
.info-card li {
    display: inline-block;
    text-decoration: none;
}
.info-card-spacer {
    margin: 0px 6px;
    opacity: 0.3;
}
#blur-card .p-tools {
    margin: 0px;
    color: #efe1dc;
}
#blur-card:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
#active-tab {
    color: goldenrod !important;
}
main {
    width: 768px;
    margin: 0px auto 40px auto;
}
#card-layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.card {
    margin: 10px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #e6e6e6;
    text-align: center;
    position: relative;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.card:hover {
    box-shadow: 0px 0px 10px lightgray;
    border-color: lightgray;
    filter: grayscale(25%);
    -webkit-filter: grayscale(25%);
}
.card-large {
    width: 768px; min-height: 300px;
}
.card-small {
    width: 364px; min-height: 200px;
}
.card-small-horz {
    width: 768px; min-height: 200px;
}
.card-xsmall-horz {
    width: 768px; min-height: 100px;
}
.card-xxsmall {
    width: 236px; min-height: 100px;
}
.card-xxsmall-fill {
    width: 492px; min-height: 100px;
}
.card-height-fill {
    min-height: 100%;
}
.card-content {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}
.year-title {
    width: 100%;
    margin: 40px 10px 0px 10px;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 4px;
    color: #000;
    text-align: center;
}
.year {
    float: left;
}
.grade {
    float: right;
    margin-right: -3.5px;
}
.project-title-white, .project-title-black {
    font-weight: 100;
    letter-spacing: 3.5px;
    font-size: 20px;
}
.project-title-white {
    color: #fff;
}
.project-title-black {
    color: #000;
}
.project-sub-title {
    font-family: monospace;
    font-size: 13px;
    padding-top: 5px;
    color: #A0A0A0;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}
.project-title-org, .project-title-org-white {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5px;
    letter-spacing: 1px;
}
.project-title-org {
    color: gray;
}
.project-title-org-white {
    color: lightgray;
}
.project-desc-gray, .project-desc-white {
    text-align: justify;
    font-size: 13px;
    font-weight: 300;
    margin-top: 14px;
    letter-spacing: 0.1px;
}
.project-desc-gray {
    color: #555555;
}
.project-desc-white {
    color: #fff;
}
.p-tools {
    font-family: monospace; 
    font-size: 13px;
    color: goldenrod;
    margin-left: -2px;
}
.p-tools b {
    font-weight: bold;
}
#portfolio-card {
    background-image: url("pictures/cubes.jpg");
    background-size: 100%;
    background-position: center;
}
#portfolio-card:hover {
    background-size: 103%;
}
#portfolio-card .p-tools {
    color: goldenrod;
}

/*tweet_waves card*/
#tweet-card {
    cursor: default;
}
#tweet-card .p-tools {
    color: #1DA1F2;
}

/*business informatics card*/
#bi-card {
    background-image: url("pictures/NKU.jpg");
    background-size: 100%;
    background-position: top;
}
#bi-card:hover {
    background-size: 102%;
}
#bi-card .p-tools {
    color: #efe1dc;
}

/*blur card*/
#blur-card {
    background-image: url("pictures/blur.jpg");
    background-size: 100%;
    background-position: center;
    min-height: auto; 
    margin-top: -7px
}

#cai-blur-card {
    background-image: url("pictures/griffin-blur.jpg");
    background-size: 100%;
    background-position: center;
    min-height: auto; 
    margin-top: -7px
}
#cai-blur-card .p-tools {
    margin: 0px;
    color: #FACBBB;
}
#cai-blur-card:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
}
/*cai card*/
#cai-card {
    background-image: url("pictures/griffin.jpg");
    background-size: 100%;
    background-position: top;
}
#cai-card:hover {
    background-size: 103%;
}
#cai-card .p-tools {
    color: #FACBBB;
}

/*tesla card*/
#tesla-card {
    background-image: url("pictures/tesla.jpg");
    background-size: 103%;
    background-position: top;
}
#tesla-card:hover {
    background-size: 105%;
}
#tesla-card .p-tools {
    color: #C22946;
}

/*fl studio card*/
#fl-card {
    background-image: url("pictures/studio.jpg");
    background-size: 100%;
    background-position: top;
}
#fl-card .p-tools {
    color: #61D59A;
}
#fl-card:hover {
    background-size: 102%;
}

/*github card*/
#github-card {
    background-image: url("pictures/cubes.jpg");
    background-size: 50%;
    background-position: center;
}
#github-card:hover {
    background-size: 103%;
}
#github-card .p-tools {
    color: #0747A6;
}

/*machine learning card*/
#ml-card {
    background-image: url("pictures/hex.png");
    background-size: 100%;
    background-position: center;
}
#ml-card:hover {
    background-size: 103%;
}
#ml-card .p-tools {
    color: #C41E3A;
}

/*cathacks card*/
#cathacks-card {
    background-image: url("pictures/slant.png");
    background-size: 100%;
    background-position: center;
}
#cathacks-card:hover {
    background-size: 103%;
}
#cathacks-card .p-tools {
    color: #36bcbc;
}

@media screen and (max-width: 828px) {

    .card:hover {
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%);
    }
    .card {
        transition: 0s all ease;
        -webkit-transition: 0s all ease;
    }
    .card-small, .card-large, .card-xxsmall {
        width: 100%;
    }
    .divider {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .project-desc-gray, .project-desc-white {
        margin-bottom: 28px;
    }
    #tesla-card {
        background-image: url("pictures/tesla-blur.jpg");
        background-size: cover;
    }
    #tesla-card:hover {
        background-size: cover;
    }
    #fl-card {
        background-image: url("pictures/studio-blur.jpg");
        background-size: cover;
    }
    #fl-card:hover {
        background-size: cover;
    }
    #bi-card {
        background-image: url("pictures/NKU-blur.jpg");
        background-size: cover;
    }
    #bi-card:hover {
        background-size: cover;
    }
    #cai-card {
        background-image: url("pictures/griffin-blur.jpg");
        background-size: cover;
    }
    #cai-card:hover {
        background-size: cover;
    }
}